<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Buen Conocer</title>

    <%= stylesheet_link_tag "landing" %>
    <!--[if IE]>
    <style type="text/css" media="all">.borderitem {border-style: solid;}</style>
    <![endif]-->

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


<div id="main">
  <a href="/">
  <div id="logo">
  </div>
</a>
  <div class="clearFloat"></div>

  <%= yield %>


 <div id="footer">
   <p><strong>buenconocer.org</strong> es una plataforma creada por el proyecto <a href="http://floksociety.org/">Sumak Yachay / FLOK Society</a>, una propuesta de Ecuador para el cambio de matriz productiva hacia una <a href="http://iaen.edu.ec/2013/11/conocimiento-libre-para-el-buen-vivir/">economía social del conocimiento</a>.</p>
</div>


</div>



    <%= javascript_include_tag "application" %>


    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>



  </body>
</html>
